<div class="registration-container">
    <p>Register</p>
    <div>
        <form>
            <!-- Input fields here -->
            <div class="form-group">
                <input placeholder="name" type="string" [(ngModel)]="user.name" name="user">
            </div>
            <div class="form-group">
                <input placeholder="surname" type="string" [(ngModel)]="user.surname" name="user">
            </div>
            <div class="form-group">
                <input placeholder="email" type="email" [(ngModel)]="user.email" name="user">
            </div>
            <div class="form-group">
                <input placeholder="number" type="number" [(ngModel)]="user.number" name="user">
            </div>
            <div class="form-group">
                <input placeholder="account" type="password" [(ngModel)]="user.account" name="user">
            </div>
            <div class="form-group">
                <button (click)="registerUser()">Register</button>
            </div>
        </form>
    </div>
</div>