<div class="registration-container">
    <p>Register</p>
    <div>
        <form>
            <!-- Input fields here -->
            <div>
                <input placeholder="name" type="string">
            </div>
            <div>
                <input placeholder="surname" type="string">
            </div>
            <div>
                <input placeholder="email" type="email">
            </div>
            <div>
                <input placeholder="number" type="number">
            </div>
            <div>
                <input placeholder="password" type="password">
            </div>
            <div>
                <button>Register</button>
            </div>
        </form>
    </div>
</div>