<p>Login</p>
<h4>Enter your details below:</h4>
<div>
    <form>
        <div>
            <input placeholder="name" type="string">
        </div>
        <div>
            <input placeholder="surname" type="string">
        </div>
        <div>
            <input placeholder="number" type="number">
        </div>
        <div>
            <input placeholder="email" type="email">
        </div>
        <div>
            <input placeholder="password" type="password">
        </div>
        <div>
            <button>Login</button>
        </div>
    </form>
</div>