<p>tenant-list works!</p>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Number</th>
            <th>Email</th>
            <th>Account</th>
            <th>Payment Status</th>
        </tr>
        <tr *ngFor="let tenant of tenantList">
            <td>
                <div [routerLink]="'tenant'">{{tenant.name}}</div>
            </td>
            <td>
                <div>{{tenant.surname}}</div>

            </td>
            <td>
                <div>{{tenant.number}}</div>
            </td>
            <td>
                <div>{{tenant.email}}</div>
            </td>
            <td>
                <div>{{tenant.account}}</div>
            </td>
            <td>
                <div>{{tenant.paymentStatus}}</div>
            </td>
        </tr>
    </table>
</div>